@inject HttpClient Http
@inject NavigationService NavigationService
@inject IJSRuntime JS

@if (IsVisible)
{
    <div class="modal" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add FAQ</h5>
                    <button type="button" class="close" aria-label="Close" @onclick="Hide">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="username">Question:</label>
                        <input type="text" class="form-control" id="username" @bind="faqModel.question">
                    </div>
                    <div class="form-group">
                        <label for="userEmail">Answer:</label>
                        <input type="email" class="form-control" id="userEmail" @bind="faqModel.answer">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @onclick="Save">Add FAQ</button>
                    <button type="button" class="btn btn-secondary" @onclick="Hide">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private bool IsVisible { get; set; }
    private Models.FAQ faqModel = new Models.FAQ();

    public void Show()
    {
        IsVisible = true;
        StateHasChanged();
    }

    public void Hide()
    {
        IsVisible = false;
        StateHasChanged();
    }

    private async void Save()
    {
        var response = await Http.PostAsJsonAsync("/faq/add", faqModel);
        if (response.IsSuccessStatusCode)
        {
            await JS.InvokeAsync<object>("alert", "FAQ was added successfully.");
        }
        else
        {
            var errorContent = await response.Content.ReadAsStringAsync();
        }
        Hide();
    }

}