.pet-cards .card {
    margin-bottom: 15px;
}

.events-today ul {
    list-style-type: none;
    padding: 0;
}
.fc {
    font-size: 0.85em; /* Reduce the font size */
}

.fc .fc-timegrid-slot {
    padding: 1px 2px; /* Reduce padding in time grid */
}

.fc .fc-col-header-cell {
    padding: 5px; /* Reduce padding in column headers */
}
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
}

.card-text {
    font-size: 0.9em;
    color: #555;
}
